NODE_ENV=development
PORT=4000

DATABASE_URL=postgresql://ehsbha:ehsbha@localhost:5432/ehsbha?schema=public

JWT_ACCESS_SECRET=replace_me_with_strong_random_string_64_chars
JWT_REFRESH_SECRET=replace_me_with_another_strong_random_string_64_chars
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=30d

CORS_ORIGINS=http://localhost:8081,http://localhost:19006
